[Unit]
Description=Phi 3 Mini 128k TGI Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker rm -f phi-3-mini-128k-tgi
ExecStart=/usr/bin/docker run --rm --name phi-3-mini-128k-tgi \
    --privileged --cap-add=sys_nice \
    --device=/dev/dri \
    --ipc=host \
    -p 8080:80 \
    --shm-size 2g \
    ghcr.io/huggingface/text-generation-inference:2.4.0-intel-xpu \
    --model-id microsoft/Phi-3-mini-128k-instruct \
    --dtype bfloat16 \
    --max-concurrent-requests 1 \
    --max-batch-size 1 \
    --max-total-tokens 8192 \
    --max-input-length 4096 \
    --max-waiting-tokens 10 \
    --port 80 --json-output

[Install]
WantedBy=multi-user.target
