[Unit]
Description=Qwen 7B TGI Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker rm -f qwen-7b-tgi
ExecStart=/usr/bin/docker run --rm --name qwen-7b-tgi \
    --privileged --cap-add=sys_nice \
    --device=/dev/dri \
    --ipc=host \
    -p 8083:80 \
    --shm-size 2g \
    ghcr.io/huggingface/text-generation-inference:2.4.0-intel-xpu \
    --model-id Qwen/Qwen-7B \
    --dtype bfloat16 \
    --max-concurrent-requests 1 \
    --max-batch-size 1 \
    --port 80 --json-output

[Install]
WantedBy=multi-user.target
